@import url("https://fonts.google.com/specimen/Space+Mono");

body {
  background-color: hsl(172, 67%, 45%);
  font-family: "Space Mono";
}

.App {
  margin-left: 30%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 48%;
  padding: 28px;
  background-color: white;
  border-radius: 15px;

  /* box-sizing: border-box; */
}

.Section_a {
  background-color: white;
}

.Bill {
  position: relative;
  margin-bottom: 40px;
  margin-top: 20px;
}
.Bill__currency {
  position: absolute;
  left: 8px;
  top: 9px;
}
.Bill__amount,
.People__count {
  padding: 10px 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
  height: 10px;
  width: 400px;
}

.Section_b {
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  border-radius: 15px;
  margin-left: 20px;
  border: solid black;
}

.Bill__summary {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
}

.Bill__summary__TipAmount__header,
.Bill__summary__TotalAmount__header {
  color: white;
  margin-top: 50px;
}

.Bill__summary__totals {
  margin-left: 30px;
  margin-top: 25px;
  color: hsl(172, 67%, 45%);
  font-size: 60px;
  font-weight: 700;
}

.Bill__summary__TotalAmount__total {
  margin-top: 25px;
}

.Bill__summary__reset {
  margin-top: 100px;
  margin-left: 14%;
  width: 100%;
}

.resetButton {
  width: 75%;
  height: 38px;
  color: black;
  background-color: hsl(172, 67%, 45%);
  border-radius: 10px;
  border-color: hsl(172, 67%, 45%);
  font-weight: 600;
}
